* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3em;
  text-align: center;
  background-color: royalblue;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  grid-gap: 1em;
  margin: 1em;
}

img {
  border: 1px solid black;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img:nth-child(02) {
  grid-column: span 2;
  grid-row: span 1;
}

.img:nth-child(04) {
  grid-column: span 2;
  grid-row: span 2;
}

.img:nth-child(05) {
  grid-column: span 1;
  grid-row: span 2;
}

.img:nth-child(10) {
  grid-column: span 2;
  grid-row: span 1;
}

.img:nth-child(12) {
  grid-column: span 2;
  grid-row: span 1;
}
.img:nth-child(13) {
  grid-column: span 2;
  grid-row: span 2;
}

.img:nth-child(14) {
  grid-column: span 2;
  grid-row: span 2;
}

.img:nth-child(15) {
  grid-column: span 1;
  grid-row: span 2;
}

.img:nth-child(16) {
  grid-column: span 2;
  grid-row: span 2;
}

.img:nth-child(18) {
  grid-column: span 2;
  grid-row: span 2;
}
